@import url('https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap');
:root {
    --color-white: #f3f3f3;
    --color-darkblue: #1b1b32;
    --color-darkblue-alpha: rgba(27, 27, 50, 0.8);
    --color-green: #37af65;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}
body{
    color: var(--color-white);
    font-size: 16px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--color-darkblue);
    background-image: linear-gradient(
    115deg,
  rgba(58, 58, 158, 0.8),
  rgba(136, 136, 206, 0.7)
    ),
    url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -2;
}

.container{
    width: 100%;
    margin: 5% auto 0 auto;
}
h1{
    font-size: 33px;
    font-weight: 400;
    padding-left: 33%;
    line-height: 0.3;
}
p{
    font-style: italic;
    font-size: 18px;
    padding-left: 30%;
    font-weight: 400;
}
#survey-form{
    background: var(--color-darkblue-alpha);
    height: 1500px;
    width: 720px;
    margin-top: 25px;
    margin-left: 23%;
    border-radius: 4px;
}
label{
    display: block;
    padding-top: 45px;
    padding-left: 45px;
    font-size: 18px;
    font-weight: 400;
}

input{
    border: none;
    margin-left: 45px;    
    font-family: 'poppins';
    font-size: 16px;
    color: #555050;
}
.form-control{
    height: 40px;;
    width: 630px;
    border: 1px solid var(--color-darkblue-alpha);
    border-color: none;
    border-radius: 5px;
    margin-top: 8px;
}
.form-control:focus{
    outline: none;
    border-color: #80bdff;
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.25);
}
input::-webkit-input-placeholder{
    font-size: 16px;
    font-weight: 510;
    padding-left: 10px;
    padding-top: 15px;
    font-family: 'poppins';
}
input:focus{
    font-family: 'poppins';
    font-size: 16px;
    color: #555050;
}
#number-label, #email-label, #radio-label, #checkbox-label{
    padding-top: 28px;
}
.spaned{
    font-size: 14px;
    color: #e4e4e4;
}
#DropID{
    padding-top: 28px;
    padding-left: 0;
}
#fourth, #six{
    padding-left: 45px;
}
#dropdown{
    font-family: 'poppins';
    font-size: 16px;
    color: #555050;
}
#radio-button, #checkbox-button{
    padding-top: 28px;
}
input[type=radio], input[type=checkbox]{
    width: 20px;
    height: 20px;
    margin-top: 10px;
}
.radio-span, .checkbox-span{
    font-family: 'poppins';
    font-size: 20px;
    padding-left: 10px;
}
.input-textarea{
    font-size: 18px;
    font-family: 'poppins';
    height: 125px;
    width: 630px;
    margin-top: 8px;   
    margin-left: 45px;
}
::placeholder{
    font-family: 'poppins';
    font-size: 16px;
    padding-left: 8px;
}
.input-textarea:focus{
    font-size: 18px;
    font-family: 'poppins';
}
#submit{
    background-color: var(--color-green);
    color: var(--color-white);
    width: 630px;
    margin-top: 25px;
    height: 45px;
    border-radius: 2px;
}
